*{
    padding: 5px;
    margin: 0;
}
body{
    margin-left: 80px;
    margin-right: 80px;
}
.container{
    background-color: #c9d1d3;
    border: solid;
    border-color: #1b2a49;
    height: 900px;
}
.cabeza{
    background: #1b2a49;
    height: 125px;
    padding: 10px;
}
.Titulo{
    color: white;
    margin-left: 20px;
    margin-top: 42px;
    text-align: center;
    font-size: 38px;
}
.logo{
    margin-top: 5px;
    margin-left: 70px;
    position: absolute;
    width: 120px;;
}
.subtitulo{
    text-align: center;
    margin-top: 40px;
}
.parrafo {
    text-align: center;
    margin-left: 210px;
    margin-right: 280px;
    font-size: 22px;
    width: 60%;
}
.boton{
    background-color: #00909e;
    border:2px solid;
    border-color: #1b2a49;
    border-radius: 5px;
    padding: 14px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 170px;
    height:10px;
    margin-top: 13px;
    margin-left: 440px;
}
.pie{
    text-align: center;
    margin-top: 130px;
    font-weight: 550;
}
