*{
    padding: 0;
    margin: 0;
}
.title{
    text-align: center;
    font-size: 36px;
    color: black;
    margin-top: 10px;
}
.container{
    background-color: #c9d1d3;
    position: absolute;
    width: 65%;
    height: 70%;
    margin-top: 80px;
    margin-left: 18%;
    border: 4px solid;
    border-color: #1b2a49;
    text-align: center;
}
.bombo{
    position: relative;
    margin: 10px 0px 0px 8px;
    
}
.tom-aereo{
    position: absolute;
    margin: 80px 0px 0px -191px;
    
}
.platillo-izquierdo{
    position: absolute;
    margin: 58px 0px 0px -80px;
}
.platillo-ride{
    position: absolute;
    margin: 13px 0px 0px -310px;
}
.hit{
    position: absolute;
    margin: 174px 0px 0px -378px;
}
.caja{
    position: absolute;
    margin: 189px 0px 0px -258px;
}
.tom-suelo{
    position: absolute;
    margin: 180px 0px 0px -80px;
}
.platillo-derecho{
    position: absolute;
    margin: 183px 0px 0px 16px;
}

iframe{display:none;}
